.gradation-demo {
	width: 180px;
	margin-bottom: 30px;
}

.gradation-demo__bar {
	width: 18px;
	margin-bottom: 30px;
}

.gradation-demo__body__right__item {
	width: 24px;
	margin-right: 15px;
	text-align: center;
}

.color-picker-trigger input {
	width: 100px !important;
}

.gradation-demo .react-colorful {
	position: absolute !important;
	z-index: 9999;
	top: 24px;
}
